
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  box-sizing: border-box;
  --gray: #d0ccd0;
  --white: #fbfcff;
  --rock: #605856;
  --blue: #1c6e8c;
  --dark-blue: #274156;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  color: var(--blue);
  font-family: 'Arvo', serif;
  
}

button {
  font-family: inherit;
}

/* .container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
} */

.arena {
  display: flex;
  flex-direction: column;
}

.players {
  display: flex;
}

.scoreboard {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.scores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  font-size: 4rem;
}

.scores .score {
    margin: 10px;
}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 30px;
}

.messagebox {
  height: 50px;
  color: var(--rock);
  font-size: 2rem;
}

.game-buttons button {
  width: 150px;
  height: 100px;
  background-color: var(--gray);
  border: 3px solid var(--rock);
  border-radius: 4px;
  box-shadow: 8px 8px 10px var(--rock);
  transition: 70ms;
  outline: none;
}

.p1 .game-buttons button:hover {
  border: 3px solid var(--blue);
  box-shadow: 8px 8px 10px var(--dark-blue);
}

.game-buttons button img {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
}

.new-game {
  display: flex;
  justify-content: center;
}

.new-game.btn {
  height: auto;
  width: 180px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.5rem;
  border: 3px solid var(--white);
  padding: 6px 12px;
  border-radius: 8px;
}

.hidden {
  display: none;
}

.avatar img {
  width: 100px;
  height: auto;
  margin: 10px;
}

.player-container .game-buttons button.selected {
  transform: translate(3px, 5px);
  border: 3px solid var(--gray);
  box-shadow: 3px 3px 4px var(--blue);
}

.winner {
  border: 3px solid hsl(144, 100%, 25%) !important;
  box-shadow: 3px 3px 4px hsl(144, 100%, 25%) !important;
}

.loser {
  border: 3px solid red !important;
  box-shadow: 3px 3px 4px red !important;
}

.score-message {
  height: 40px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: 200ms;
}

.credits a {
  display: block;
}